/* *
    box-sizing: border-box;
    outline: 1px solid limegreen !important;
    /* background: rgb(0 100 0 / 0.05) !important; 

 */
body {
   /*  background: #3E5151;  
    background: -webkit-linear-gradient(to bottom, #DECBA4, #3E5151);  
    background: linear-gradient(to bottom, #DECBA4, #3E5151); 
    background-repeat: no-repeat;
    height: 100%; */
    background: url(./images/fondo_papel.jpeg);
}
.column{
    text-align: center;
}

.avatar {
    width: 200px;
    height: auto;
    border-radius: 50%;
}

div ul {
    list-style: none;
    margin-left: -30px;
    
}

ul li button {
    color: #FFF;
    font-size: 30px;
    padding: 10px;
    border-radius: 30px;
    margin: 10px;
    min-width: 300px;
    background-color: #7e543c; 
    border: 2px solid #fff;
    transition: all 400ms ease;
    text-align: center;
}

ul li button:hover {
    background-color: #fff;
    color: #7e543c;
    border: 2px solid #7e543c;
}

