
body {
    font-family: 'Nunito', sans-serif;
    background: url(./images/fondo_papel.jpeg);
   /*  background: #3E5151;  
    background: -webkit-linear-gradient(to bottom, #DECBA4, #3E5151);  
    background: linear-gradient(to bottom, #DECBA4, #3E5151); 
    background-repeat: no-repeat; */
    
}
.column{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.avatar {
    width: 200px;
    height: auto;
    border-radius: 50%;
    text-align: center;
}

.buttonsGroup {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 900px;
}

.socialButtons {
    color: #FFF;
    font-size: 20px;
    padding: 10px;
    border-radius: 30px;
    margin: 10px;
    min-width: 300px;
    background-color: #7e543c; 
    border: 2px solid #fff;
    transition: all 400ms ease;
    text-align: center;
    text-decoration: none;
}
.socialButtons:hover {
    background-color: #fff;
    color: #7e543c;
    border: 2px solid #7e543c;
}

footer {
    margin-top: 50px;
    color: #FFF;
    text-align: center;
    opacity: 0.5;
    width: 100vp;
}
.linkPorfolio {
    text-decoration: underline overline dotted #fff;
    color: #FFF;
}

.textoLogo{
    font-size: 25px;
    margin: 3px;
    font-weight: 800;
    text-shadow: 2px 2px #fff;
    text-align: center;
}

.descripcionPagina {
    color: #fff;
    text-shadow: 2px 2px #000000;
    font-size: 20px;
    text-align: center;
    margin-top: 5px;
    font-weight: 550;
}